body {
	margin: 0;
/*	background: webkit-gradient(linear, left top, left bottom, from(#666666), to(#CCCCCC));
	background: -webkit-linear-gradient(top, #666666, #CCCCCC);
	background: linear-gradient(180deg, #666666, #CCCCCC);*/
/*  background: #EBF2F2;*/
  background: #f35683;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
canvas { width: 100%; height: 100% }
